<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<properties resource="com/my/model/db/db.properties"></properties>
	
	<typeAliases>
		<typeAlias type="com.my.model.dto.MyDto" alias="myDto"/>
	</typeAliases>
	
	  <environments default="development"> <!-- mybatis의 환경설정 -->
	    <environment id="development">
	      <transactionManager type="JDBC"/> 
	      <dataSource type="POOLED">
	        <property name="driver" value="${driver}"/>
	        <property name="url" value="${url}"/>
	        <property name="username" value="${username}"/>
	        <property name="password" value="${password}"/>
	      </dataSource>
	    </environment>
	  </environments>
	  <mappers>
	    <mapper resource="com/my/model/db/mybatis-mapper.xml"/>
	  </mappers>
</configuration>