<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
<bean id="woman" class="com.test02.Woman"/>
<bean id="man" class="com.test02.Man"/>

<!-- Advice (ccc) : 공통 관심사항 -->
<bean id="myAdvice" class="com.test02.MyAspect"/>

<!-- Advisor (Aspect) : advice + pointcut -->
<bean id="MyAdvisor" class="org.springframework.aop.aspectj.AspectJExpressionPointcutAdvisor">
	<property name="advice" ref="myAdvice"></property>
	<property name="expression" value="execution(public * * (..))"></property>
</bean>

<!-- proxy -->
<bean class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator">
	<!-- advisor가 proxy 객체가 됐다. -->
</bean>
</beans>
