<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<bean id="kim" class="com.test02.Emp">
	<constructor-arg index="0" value="김태현"/>
	<constructor-arg index="1" value="100000000"/>
</bean>

<bean id="Wook" class="com.test02.Emp">
	<property name="name" value="육자영"/>
	<property name="salary" value="200000000"/>
</bean>

</beans>
