<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h1>Detail</h1>
	<table border="1">
		<tr>
			<th>제목</th>
			<td th:text="${dto.mytitle}"></td>
		</tr>
		<tr>
			<th>작성자</th>
			<td th:text="${dto.myname}"></td>
		</tr>
		<tr>
			<th>내용</th>
			<td><textarea cols="50" rows="10" th:text="${dto.mycontent}" readonly="readonly"></textarea></td>
		</tr>
		<tr>
			<td colspan="4" align="right">
				<input type="button" th:value="목록" onclick="location.href='list'">
				<input type="button" th:value="수정" th:onclick="|location.href='/member/updateform?myno=${dto.myno}'|">
				<input type="button" th:value="삭제" th:onclick="|location.href='/member/delete?myno=${dto.myno}'|">
			</td>
		</tr>
	</table>
</body>
</html>