<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>Update</h1>
	<form th:action="@{update}" method="post">
		<table border="1">
			<tr>
				<th>제목</th>
				<td><input type="text" th:value="${dto.mytitle}" name="mytitle"></td>
			</tr>
			<tr>
				<th>작성자</th>
				<td><input type="text" th:value="${dto.myname}" name="myname"></td>
			</tr>
			<tr>
				<th>내용</th>
				<td><textarea cols="50" rows="10" th:text="${dto.mycontent}" name="mycontent"></textarea></td>
			</tr>
			<tr>
				<td colspan="3" align="right">
					<input type="hidden" th:value="${dto.myno}" name="myno">
					<input type="button" th:value="목록" onclick="location.href='list'">
					<input type="submit" th:value="수정">
				</td>
			</tr>
		</table>
	</form>

</body>
</html>